@import './base.css';

.online-cursor-wrapper__tail-box {
  background-color: #FFC700;  
}

.online-cursor-wrapper__tail-box {
    background-color: #9AF20A;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #2dd4bf;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #04D0FF;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #6317FC;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #FF79E7;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #944CEB;  
  }

  .online-cursor-wrapper__tail-box {
    background-color: #FE482E;  
  }