html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Exo 2';
  background-color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.online-cursor-wrapper__avatar {
  background-color: #fff;
}